<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
			<h3>Complete </h3>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
			<a href="https://github.com/sandeep06011991/ironmonkey">Iron Monkey</a></strong>
			Crawled over the entire Database of calorie counter and categorized food.
			<ul>
				<li>Grouped meals which can be replaced without significant impact on diet</li>
				<li>Best of time of consumption such as Morning/pre-workout/Mid-day.</li>
			</ul>
			Tools used :Django ,python, ElasticSearch[only on local as was painfull for deploying without vpm]
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Kernel</a></strong>
			My attempt to build a kernel .
			Written in Assembly , boots and prints chareters to VGA section of memory.</li>
			Current developments are on hold as I am trying to figure how to add keyboard interrupts .
			Phase 1 objective is to end up with a command line .<br>
			[References "x86 language- Mazidi" and "OS implementation- Tanenbaum"]
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://evening-depths-4097.herokuapp.com/tetris/file.html">Tetris</a></strong>
			A toy project of mine .This works but got me thinking on the importance of
			abstraction and code readablilty with javascript . I am hoping to refactor this soon .
		</h5>
    		<h3>Pending Pipeline</h3>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Compiler</a></strong>
			A basic compiler to be written in C. I am using appel's book as reference better idea's do tell me .
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>
			<a href="#">Tetris</a></strong>
			My dream project to build a microcontroller interfacing with VGA screen with analog controls to play tetris.
			I hope to learn a decent amount of hardware programming with this.
		</h5>


    </div>
  </div>
</div>
</section>
